src/main/mule/debugging.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="714264cc-1196-42d2-980b-ec2e61d2c260" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="25ef91a9-a852-4d4f-971c-0929cd324f69" >
		<http:request-connection host="ilt.mulesoft-training.com" />
	</http:request-config>
	<flow name="debuggingFlow" doc:id="fc4fcc6b-9235-41ee-a3ed-e7151a658546" >
		<http:listener doc:name="Listener" doc:id="d58aa4e7-0a56-460f-8134-d481d8643ea8" config-ref="HTTP_Listener_config" path="/debug"/>
		<http:request method="GET" doc:name="Request" doc:id="c4c32f7a-a381-4f67-bcdf-5e81a44e8323" config-ref="HTTP_Request_configuration" path="/essentials/united/flights"/>
		<ee:transform doc:name="Transform Message" doc:id="e1f0fb19-9160-49e4-9203-27349b958ffa" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="united" ><![CDATA[%dw 2.0
output application/json

---
payload.flights]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e55e00f-a3f8-48ab-8023-e550f9f8610a" message="#[vars]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a0b90478-9311-4018-b822-7751195a9d33" />
		<logger level="INFO" doc:name="Logger" doc:id="b4a4c832-ec81-4464-b862-8d12112bf121" message="#[payload]"/>
	</flow>
</mule>
